/* sitename: phpkingdom
   author name: Subrahmanyam Poluru
   Email: mail.polurus@gmail.com
*/
.external-demo {
  font-size: 1.2rem;
  color: #006d77;
  background: #edf6f9;
  padding: 1rem;
  border-left: 4px solid #006d77;
}
