/*
  sitename: phpkingdom.com
  author name: Subrahmanyam Poluru
  Email: mail.polurus@gmail.com
  autor website: polurus.com
*/
.external-box {
  background: #ecfeff;
  border-left: 4px solid #0e7490;
  padding: 1rem;
  color: #164e63;
}
