/* extracted from inline style attributes */
.pk-s-height-120px-overflow-auto-border-1pxsolid-333 { height:120px;overflow:auto;border:1px solid #333; }
.pk-s-height-400px-padding-8px { height:400px;padding:8px; }
