/* extracted from inline style attributes */
.pk-s-height-900px-background-linear-gradient-fff-ddd { height:900px;background:linear-gradient(#fff,#ddd); }
.pk-s-position-fixed-top-8px-right-8px-background-fff- { position:fixed;top:8px;right:8px;background:#fff;border:1px solid #333;padding:8px; }
