/* extracted from inline style attributes */
.pk-s-display-inline-block-padding-8px-border-1pxsolid { display:inline-block;padding:8px;border:1px solid #333; }
.pk-s-margin-top-10px-padding-28px-border-2pxdashed-66 { margin-top:10px;padding:28px;border:2px dashed #666; }
