/* extracted from inline style attributes */
.pk-s-height-140px-overflow-auto-border-1pxsolid-333 { height:140px;overflow:auto;border:1px solid #333; }
.pk-s-height-500px-padding-8px { height:500px;padding:8px; }
